USE [master]
GO
/****** Object:  Database [QuanLyTruongTieuHoc]    Script Date: 8/10/2025 1:03:50 AM ******/
CREATE DATABASE [QuanLyTruongTieuHoc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyTruongTieuHoc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLyTruongTieuHoc.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyTruongTieuHoc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLyTruongTieuHoc_log.ldf' , SIZE = 401408KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyTruongTieuHoc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyTruongTieuHoc]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 8/10/2025 1:03:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MaGV] [char](5) NOT NULL,
	[HoTenGV] [varchar](50) NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 8/10/2025 1:03:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[MaHS] [char](9) NOT NULL,
	[HoTenHS] [varchar](50) NULL,
	[HoTenPhuHuynh] [varchar](50) NULL,
	[GioiTinh] [varchar](3) NULL,
	[DiaChi] [varchar](50) NULL,
	[MaLop] [char](5) NULL,
 CONSTRAINT [PK_HOCSINH] PRIMARY KEY CLUSTERED 
(
	[MaHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUAHOCTAP]    Script Date: 8/10/2025 1:03:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUAHOCTAP](
	[MaHS] [char](9) NOT NULL,
	[HocKy] [int] NOT NULL,
	[MaMH] [varchar](5) NOT NULL,
	[DiemThiGiuaKy] [float] NULL,
	[DiemThiCuoiKy] [float] NULL,
	[NgayGioThiCuoiKy] [datetime] NULL,
 CONSTRAINT [PK_KETQUAHOCTAP] PRIMARY KEY CLUSTERED 
(
	[MaHS] ASC,
	[HocKy] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 8/10/2025 1:03:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MaLop] [char](5) NOT NULL,
	[TenLop] [varchar](10) NULL,
	[MaGVCN] [char](5) NULL,
	[NamHoc] [char](9) NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 8/10/2025 1:03:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MaMH] [varchar](5) NOT NULL,
	[TenMH] [varchar](50) NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUTRACHBOMON]    Script Date: 8/10/2025 1:03:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUTRACHBOMON](
	[MaGVPT] [char](5) NOT NULL,
	[MaLop] [char](5) NOT NULL,
	[MaMH] [varchar](5) NOT NULL,
	[HocKy] [int] NOT NULL,
 CONSTRAINT [PK_PHUTRACHBOMON] PRIMARY KEY CLUSTERED 
(
	[MaGVPT] ASC,
	[MaLop] ASC,
	[MaMH] ASC,
	[HocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KETQUAHOCTAP]  WITH CHECK ADD  CONSTRAINT [FK_KETQUAHOCTAP_HOCSINH] FOREIGN KEY([MaHS])
REFERENCES [dbo].[HOCSINH] ([MaHS])
GO
ALTER TABLE [dbo].[KETQUAHOCTAP] CHECK CONSTRAINT [FK_KETQUAHOCTAP_HOCSINH]
GO
ALTER TABLE [dbo].[KETQUAHOCTAP]  WITH CHECK ADD  CONSTRAINT [FK_KETQUAHOCTAP_MONHOC] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MONHOC] ([MaMH])
GO
ALTER TABLE [dbo].[KETQUAHOCTAP] CHECK CONSTRAINT [FK_KETQUAHOCTAP_MONHOC]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_GIAOVIEN] FOREIGN KEY([MaGVCN])
REFERENCES [dbo].[GIAOVIEN] ([MaGV])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_GIAOVIEN]
GO
ALTER TABLE [dbo].[PHUTRACHBOMON]  WITH CHECK ADD  CONSTRAINT [FK_PHUTRACHBOMON_GIAOVIEN] FOREIGN KEY([MaGVPT])
REFERENCES [dbo].[GIAOVIEN] ([MaGV])
GO
ALTER TABLE [dbo].[PHUTRACHBOMON] CHECK CONSTRAINT [FK_PHUTRACHBOMON_GIAOVIEN]
GO
ALTER TABLE [dbo].[PHUTRACHBOMON]  WITH CHECK ADD  CONSTRAINT [FK_PHUTRACHBOMON_LOP] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOP] ([MaLop])
GO
ALTER TABLE [dbo].[PHUTRACHBOMON] CHECK CONSTRAINT [FK_PHUTRACHBOMON_LOP]
GO
ALTER TABLE [dbo].[PHUTRACHBOMON]  WITH CHECK ADD  CONSTRAINT [FK_PHUTRACHBOMON_MONHOC] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MONHOC] ([MaMH])
GO
ALTER TABLE [dbo].[PHUTRACHBOMON] CHECK CONSTRAINT [FK_PHUTRACHBOMON_MONHOC]
GO
USE [master]
GO
